doctype html
html(lang='ro')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Pseudoromână
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='Un generator echivalent cu „Lorem ipsum“, dar pentru limba română.')
    link(rel='apple-touch-icon', href='/favicon152.png')

    style: :stylus(compress=true)
      max-width = 600px
      body
        font-family -apple-system, BlinkMacSystemFont, Ubuntu, "Segoe UI", Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
        font-size 1.2em
        line-height 1.4
      .header, .middle, .footer
        margin 0 auto
        max-width max-width
      .footer
        padding-top 1em
        small
          color #999
          a
            color #888
      a
        text-decoration none
        &:hover
          text-decoration underline

  body
    .header: :markdown-it
      # [Pseudoromână](.)

      Acesta este un generator de pseudoromână care este echivalentul lui [Lorem
      ipsum][lorem] pentru limba română, adică folosește literele specifice
      limbii române. Dar spre diferență de Lorem ipsum, acest generator adaugă
      și numere, paranteze, ghilimele, linii de pauză și puncte de suspensie.

      [lorem]: http://ro.lipsum.com/

    .middle
      p: button#generate-new-btn.btn.btn-info Generează altul

      // googleoff: all
      #generated-text
      // googleon: all

    .footer
      :markdown-it
        Created by [Paul Nechifor](/). [View the Git source.](https://github.com/paul-nechifor/pseudoromanian)

      small: :markdown-it
        [Home](/) •
        [Blog](/blog) •
        [Projects](/projects) •
        [Twitter](https://twitter.com/PaulNechifor)

    script !{js}
